.ag ,.bg{
    background-color: aquamarine;
    color: blue;
}
h1 span{
    color: yellow;

}
h1 .c1{
    color: red;

}
a:link{/* 默认*/
    color: blue
}
a:visited{/* 访问过的*/
    color: red
}
a:hover{/* 鼠标悬停*/
    color: yellow;
    font-size: 30px;

}
a:active{/* 鼠标单击*/
    color: white
}